.counting_call_button_calculate {
    border: none;
    margin: 20px 0;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
    background-color: #6dbd8b;
    color: white;
    font-family: "Cera Pro", sans-serif;
  
    &:hover {
      cursor: pointer;
    }
  
    &:active {
      background-color: rgb(255, 115, 0);
      color: white;
    }
  }