.mainLayers_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-family: "Cera Pro", sans-serif;

  .mainLayers_button_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
  }
}

.mainLayers_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;

  /* Можно добавить общий медиазапрос */
  @media (max-width: 1550px) {
    width: 100%;
  }
}

.green_text {
  color: #206466;
  font-weight: bold;
}

.mainLayers_container {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  width: 95%;
  min-width: 350px;
  max-width: 974px;
  height: auto;
  aspect-ratio: 974 / 670;
  box-sizing: border-box;
  border-radius: 10px;

  .mainLayers_inside,
  .mainLayers_facing,
  .mainLayers_walls,
  .mainLayers_floor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .mainLayers_inside {
    z-index: 1;
    border-radius: 10px;
    color: transparent;
  }

  .mainLayers_facing {
    z-index: 2;
    color: transparent;
    border-radius: 10px;
    filter: hue-rotate(92.013deg) saturate(0.197148) brightness(1.02105);
  }

  .mainLayers_walls {
    border-radius: 10px;
    z-index: 3;
    color: transparent;
    filter: hue-rotate(360deg) saturate(0.0081) brightness(1.0838);

    
      // filter:  hue-rotate(139deg) saturate(0%) brightness(253%);
    
    // filter: hue-rotate(-40.211deg) saturate(0.714883) brightness(0.495238);
  }

  .mainLayers_floor {
    border-radius: 10px;
    z-index: 4;
    color: transparent;
    filter: hue-rotate(-104.211deg) saturate(1.01503) brightness(0.2714);
  }

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
      filter:  hue-rotate(139deg) saturate(0%) brightness(253%);
    }
    50% {
      opacity: 0.5;
    }
  }

  .animate_pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.mainLayers_button_calculate {
  border: none;
  margin: 20px 60px;
  width: 350px;
  height: 70px;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  background-color: #6dbd8b;
  color: white;
  font-family: "Cera Pro", sans-serif;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: rgb(255, 115, 0);
    color: white;
  }
}

.mainLayers_text {
  width: 100%;
  text-align: center;
  margin: 20px;
}

@media (max-width: 1550px) {
  .mainLayers_wrapper {
    flex-direction: column;
  }

  .mainLayers_container {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .mainLayers_wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .mainLayers_button_calculate {
    width: 100%;
    height: 35px;
    font-size: 18px;
  }

  .mainLayers_button_block {
    width: 100%;
    margin: 20px;
    padding: 0;
    margin: 0;
  }
}

// .mainLayers_wrapper {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   margin: 20px;
//   padding: 20px;
//   width: 100%;
//   border-radius: 10px;
//   background-color: rgb(255, 255, 255);
//   margin-bottom: 30px;
//   font-family: "Cera Pro", sans-serif;

//   .mainLayers_button_block {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 20px;
//     margin-top: 60px;
//   }
// }

// .mainLayers_block {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 1000px;
// }

// .green_text {
//   color: #206466;
//   font-weight: bold;
// }

// .mainLayers_container {
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   padding: 20px;
//   width: 95%;
//   min-width: 350px;
//   max-width: 974px;
//   height: auto;
//   aspect-ratio: 974 / 670;
//   box-sizing: border-box;
//   border-radius: 10px;

//   .mainLayers_inside,
//   .mainLayers_facing,
//   .mainLayers_walls,
//   .mainLayers_floor {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 10px;
//   }

//   .mainLayers_inside {
//     z-index: 1;
//   }

//   .mainLayers_facing {
//     z-index: 2;
//     color: transparent;
//     filter: hue-rotate(-31.0323deg) saturate(0.197148) brightness(1.02105);
//   }

//   .mainLayers_walls {
//     z-index: 3;
//     color: transparent;
//     filter: hue-rotate(-154.211deg) saturate(0.714883) brightness(0.495238);
//   }

//   .mainLayers_floor {
//     z-index: 4;
//     color: transparent;
//     filter: hue-rotate(-977.5deg) saturate(1.01803) brightness(0.585714);
//   }

//   img {
//     object-fit: contain;
//     width: 100%;
//     height: 100%;
//     border-radius: 10px;
//   }
// }

// .mainLayers_button_calculate {
//   border: none;
//   margin: 20px 60px;
//   width: 350px;
//   height: 70px;
//   border-radius: 10px;
//   font-size: 28px;
//   font-weight: bold;
//   background-color: #6dbd8b;
//   color: white;
//   font-family: "Cera Pro", sans-serif;

//   &:hover {
//     cursor: pointer;
//   }

//   &:active {
//     background-color: rgb(255, 115, 0);
//     color: white;
//   }
// }

// .mainLayers_text {
//   width: 100%;
//   text-align: center;
//   margin: 20px;
// }

// @media (max-width: 1550px) {
//   .mainLayers_wrapper {
//     display: flex;
//     flex-direction: column;
//   }

//   .mainLayers_block {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }

//   .mainLayers_container {
//     width: 90%;
//     height: auto;
//   }

//   img {
//     width: 100%;
//     height: auto;
//   }

//   .mainLayers_block {
//     width: 100%;
//   }
// }

// @media (max-width: 500px) {
//   .mainLayers_wrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 20px;
//     margin: 10px;
//   }

//   .mainLayers_button_calculate {
//     width: 100%;
//     height: 35px;
//     font-size: 18px;
//   }

//   .mainLayers_button_block {
//     width: 100%;
//     margin: 20px;
//   }
// }
