.colorButtons_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 375px;
  height: 320px;
  padding: 10px;
  margin-bottom: 20px;
  // margin: 40px;
  overflow-y: scroll;

  button {
    border: 3px solid transparent; 
    border-radius: 10px;
    // padding: 3px; 
    margin: 1px;
    font-size: 15px;
    height: 40px;
    box-sizing: border-box;
    font-family: "Cera Pro", sans-serif;

    &:hover {
      cursor: pointer;
      border-color: #6dbd8b;
    }

    &:active {
      border: 3px solid #00b144;
      color: white;
    }
  }

}

@media (max-width: 1550px) {
  .colorButtons_container {
  
    width: 475px;
     }
  
}
@media (max-width: 880px) {
  .colorButtons_container {
  
    width: 100%;
    // padding: 80px;
     }
  
}