.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 390px;
  margin: 40px 183.5px;
  padding-top: 0 32px;
}

@media (max-width: 550px) {
  .App {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.interior-select {
  width: 220px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #1c1c1c;
  background-color: #1c1c1c;
  color: #6dbd8b;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}

.interior-select:focus {
  outline: none;
  border-color: #6dbd8b;
}

.interior-select option {
  border: none;
  background-color: #1c1c1c;
  width: 220px;

  color: #6dbd8b;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
}

option:hover {
  border: none;
  background-color: #6dbd8b;
  /* box-shadow: 0 0 10px 100px #1882a8 inset; */
  color: #1c1c1c;
}
