.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 420px; */
  margin: 40px 183.5px;
 padding-top: 0 32px;
}


@media (max-width: 550px) {
  .App {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}


